<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.plant.mapper.SlideMapper">

    <insert id="insertSlides">
        INSERT INTO
        slide_info
        VALUES
        <foreach collection="slides" separator="," item="slide">
            (#{slide.slideNo},#{slide.storeId},#{slide.getDate},0)
        </foreach>
    </insert>
</mapper>

