<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.seller.mapper.CheckInfoMapper">

    <insert id="insertCheckInfo">
        INSERT INTO
            check_info (check_info.commodity_id, check_info.apply_date)
        VALUES (#{commodityId}, NOW());
    </insert>

    <update id="updateCheckInfo">
        UPDATE
        check_info
        <set>
            check_date= NOW(),
            <if test="checkinfo.staffId>0">
                staff_id=#{checkinfo.staffId},
            </if>
            <if test="checkinfo.checkCode>=0">
                check_code=#{checkinfo.checkCode},
            </if>
            <if test="checkinfo.remark!=null">
                remark=#{checkinfo.remark}
            </if>
        </set>
        <where>
            commodity_id=#{checkinfo.commodityId}
            AND
            check_code=0
        </where>
    </update>

    <update id="updateCheckInfoCodeAndClear">
        UPDATE check_info
        SET
            apply_date = NOW(),
            check_date = NULL,
            staff_id   = NULL,
            remark     = NULL,
            check_code = 0
        WHERE
            check_info.commodity_id = #{commodityId}
    </update>

    <delete id="deleteCheckInfo">
        DELETE FROM check_info
        WHERE check_info.commodity_id = #{commodityId}
    </delete>

    <select id="selectCheckInfoExtend" resultType="spiritray.common.pojo.DTO.CheckInfoExtend">
        SELECT
            commodity_id,
            apply_date,
            check_date,
            staff_id,
            remark,
            check_code.check_code,
            check_code.info,
            state
        FROM
            check_info
            JOIN check_code
                ON
                    check_info.check_code = check_code.check_code
        WHERE
            check_info.commodity_id = #{commodityId}
    </select>
</mapper>
