<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.seller.mapper.CommentMapper">
    <sql id="typeCondition">
        -- 最近七天的评论
        <if test="type==1">
            AND
            <![CDATA[ TIMESTAMPDIFF(DAY,start_date,NOW())<=7 ]]>
        </if>
        -- 星级大于等于3为好评
        <if test="type==2">
            AND
            <![CDATA[star_level>=3 ]]>
        </if>
        -- 星级小于3为差评
        <if test="type==3">
            AND
            <![CDATA[ star_level < 3 ]]>
        </if>
        -- 附图不为空
        <if test="type==4">
            AND
            attched_map!=""
        </if>
        -- 按买家电话分组，并且评论数目大于1的说明多次购买
        <if test="type==5">
            GROUP BY consumer_phone
            <![CDATA[ HAVING COUNT(*)>1 ]]>
        </if>
    </sql>

    <insert id="insertComment">
        INSERT INTO
            `comment`
        VALUES
            (
                #{comment.commentNo},
                #{comment.orderNumber},
                #{comment.odId},
                #{comment.commodityId},
                #{comment.consumerPhone},
                #{comment.commentContent},
                #{comment.attchedMap},
                #{comment.starLevel},
                #{comment.isAnonymous},
                #{comment.startDate}
            )
    </insert>

    <select id="selectCommentCountsByCommodityIdAndType" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `comment`
        WHERE
        commodity_id = #{commodityId}
        <include refid="typeCondition"></include>
    </select>

    <select id="selectCommentByCommodityIdAndTypeAndPageSeaparate"
            resultType="spiritray.common.pojo.PO.Comment">
        SELECT * FROM
        (
        SELECT
        commodity_id,
        comment_no,
        comment_content,
        is_anonymous,
        attched_map,
        star_level,
        start_date,
        order_number,
        od_id,
        consumer_phone
        FROM
        `comment`
        WHERE
        commodity_id = #{commodityId}
        ORDER BY `comment`.start_date DESC
        )tt
        WHERE
        commodity_id = #{commodityId}
            <include refid="typeCondition"></include>
        LIMIT #{pageNo},#{pageNum}
    </select>

    <select id="selectCommentCountByConsumerPhone" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM
            `comment`
        WHERE
            `comment`.consumer_phone = #{phone}
    </select>

    <select id="selectConsumerAllCommentByConsumerPhone" resultType="spiritray.common.pojo.PO.Comment">
        SELECT *
        FROM
            `comment`
        WHERE
            `comment`.consumer_phone = #{phone}
    </select>

    <select id="selectCommentNoByOrderNumber" resultType="java.lang.String">
        SELECT comment_no
        FROM
            `comment`
        WHERE
            order_number = #{orderNumber}
            AND
            od_id = #{odId}
    </select>
</mapper>
