<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.seller.mapper.CommodityDetailMapper">
    <update id="updateCommodityDetail">
        UPDATE commodity
        SET detail = #{detail}
        WHERE commodity_id = #{commodityId}
    </update>

    <select id="getCommodityDetail" resultType="java.lang.String">
        SELECT commodity.detail
        FROM commodity
        WHERE commodity.commodity_id = #{commodityId}
    </select>
</mapper>
