<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.seller.mapper.HotWordMapper">

    <insert id="insertHotWords">
        INSERT INTO
        hot_word
        VALUES
        <foreach collection="hotWords" item="hotWord" separator=",">
            (#{hotWord.hotWord},#{hotWord.score},#{hotWord.date})
        </foreach>
    </insert>
</mapper>
