<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.order.mapper.OrderDetailMapper">

    <insert id="insertOrderDetail">
        INSERT INTO order_detail (
        order_detail.order_number,
        order_detail.od_id,
        order_detail.store_id,
        order_detail.commodity_id,
        order_detail.sku_value,
        order_detail.sku_map,
        order_detail.commodity_num,
        order_detail.total_amount,
        order_detail.address_msg,
        order_detail.state
        )
        VALUES
        <foreach collection="orderDetails" item="orderDetail" separator=",">
            (
            #{orderDetail.orderNumber},
            #{orderDetail.odId},
            #{orderDetail.storeId},
            #{orderDetail.commodityId},
            #{orderDetail.skuValue},
            #{orderDetail.skuMap},
            #{orderDetail.commodityNum},
            #{orderDetail.totalAmount},
            #{orderDetail.addressMsg},
            0
            )
        </foreach>
    </insert>

    <update id="updateDetailByOrderNum">
        UPDATE
            order_detail
        SET
            state = #{state}
        WHERE
            order_detail.order_number = #{orderNumber}
    </update>

    <update id="updateDetailStateById">
        UPDATE
            order_detail
        SET
            state = #{state}
        WHERE
            order_detail.order_number = #{orderNumber}
            AND
            order_detail.od_id = #{odId}
            AND
            is_delete=0
    </update>

    <update id="updateDetailDeleteById">
        UPDATE
            order_detail
        SET
            is_delete = 1
        WHERE
            order_number = #{orderNumber}
            AND
            od_id = #{odId}
    </update>

    <update id="updateDetailAddress">
        UPDATE
            order_detail
        SET
            order_detail.address_msg = #{address}
        WHERE
            order_detail.od_id = #{odId}
            AND order_detail.is_delete = 0
            AND
            order_detail.order_number IN
            (
                SELECT `order`.order_number
                FROM
                    `order`
                WHERE `order`.consumer_phone = #{phone}
                      AND `order`.is_delete = 0
                      AND `order`.order_number = #{orderNumber}
            )
    </update>

    <update id="updateDetailDeleteByIdAndPhone">
        UPDATE
            order_detail
        SET
            order_detail.is_delete = 1
        WHERE
            order_detail.od_id = #{odId}
            AND order_detail.is_delete = 0
            AND
            order_detail.order_number IN
            (
                SELECT `order`.order_number
                FROM
                    `order`
                WHERE `order`.consumer_phone = #{phone}
                      AND `order`.is_delete = 0
                      AND `order`.order_number = #{orderNumber}
            )
    </update>

    <update id="updateOrderDetailLogisticsNo">
        UPDATE order_detail
        SET logistics_no = #{logisticsNo},
            state        = 2
        WHERE
            order_number = #{orderNumber}
            AND
            od_id = #{odId}
            AND
            is_delete = 0
            AND
            store_id = #{storeId}
            AND
            state = 1
    </update>

    <select id="selectDetailStateById" resultType="java.lang.Integer">
        SELECT state
        FROM
            order_detail
        WHERE
            order_detail.order_number = #{orderNumber}
            AND
            order_detail.od_id = #{odId}
    </select>

    <select id="selectDetailStateByOrderNumber" resultType="java.lang.Integer">
        SELECT state
        FROM
            order_detail
        WHERE
            order_detail.order_number = #{orderNumber}
        LIMIT 0, 1
    </select>

    <select id="selectOrderSkuByOrderId" resultType="java.util.Map">
        SELECT
            od.commodity_id  AS commodityId,
            od.sku_value     AS skuValue,
            od.commodity_num AS num
        FROM
            order_detail AS od
        WHERE
            od.order_number = #{orderNumber}
            AND
            od.od_id = #{odId}
    </select>


    <select id="selectOrderDetailByPhoneAndState" resultType="spiritray.common.pojo.PO.OrderDetail">
        SELECT order_detail.*
        FROM
            order_detail
            JOIN `order`
                ON
                    `order`.order_number = order_detail.order_number
        WHERE
            `order`.consumer_phone = #{phone}
            AND order_detail.state = #{state}
            AND order_detail.is_delete = 0
    </select>

    <select id="selectOrderDetailPaidByOrderNumber" resultType="java.lang.Integer">
        SELECT od_id
        FROM
            order_detail
        WHERE
            order_detail.order_number = #{orderNumber}
            AND
            order_detail.state > 0;
    </select>

    <select id="selectDetailTotalAmountById" resultType="java.lang.Float">
        SELECT order_detail.total_amount
        FROM
            order_detail
        WHERE
            order_detail.order_number = #{orderNumber}
            AND
            order_detail.od_id = #{odId}
            AND
            order_detail.state = 0;
    </select>

    <select id="selectOrderDetailStateByPhoneAndOrderNumber" resultType="java.lang.Integer">
        SELECT order_detail.state
        FROM
            `order`
            JOIN order_detail
                ON
                    `order`.order_number = order_detail.order_number
        WHERE
            `order`.consumer_phone = #{phone}
            AND
            order_detail.order_number = #{orderNumber}
            AND
            order_detail.od_id = #{odId}
            AND
            order_detail.is_delete = 0
    </select>

    <select id="selectOrderDetailConditionByType" resultType="spiritray.common.pojo.PO.OrderDetail">
        SELECT
        order_detail.total_amount,
        order_detail.address_msg,
        order_detail.logistics_no
        FROM
        order_detail
        WHERE
        order_detail.store_id =#{storeId}
        AND
        order_detail.is_delete=0
        <if test="type!=3">
            AND
            order_detail.state =#{type}
        </if>
        <if test="type==3">
            AND
            order_detail.state IN(3,4)
        </if>
        ORDER BY order_detail.total_amount
    </select>

    <select id="selectStoreOrderDetailByParam" resultType="spiritray.common.pojo.PO.OrderDetail">
        SELECT *
        FROM order_detail AS od JOIN `order` AS b
        ON
        od.order_number=b.order_number
        WHERE
        od.store_id=#{storeId}
        AND
        od.is_delete=0
        AND
        od.state=#{type}
        <if test="params!=null">
            <if test="params.startTime!=null">
                AND
                <![CDATA[ DATEDIFF(NOW(),b.order_date) <= #{params.startTime}]]>
            </if>
            <if test="params.totalMoneyFloor!=null">
                AND
                <![CDATA[od.total_amount >= #{params.totalMoneyFloor} ]]>
            </if>
            <if test="params.totalMoneyCeil!=null">
                AND
                <![CDATA[od.total_amount <= #{params.totalMoneyCeil}]]>
            </if>
            <if test="params.address!=null">
                AND
                od.address_msg LIKE "%${params.address}%"
            </if>
            <if test="params.takePhone!=null">
                AND
                od.address_msg LIKE "%${params.takePhone}%"
            </if>
            <if test="params.logistics!=null">
                AND
                od.logistics_no= #{params.logistics}
            </if>
            <if test="params.endTime!=null">
                AND
                <![CDATA[ DATEDIFF(NOW(),od.over_date) <= #{params.endTime} ]]>
            </if>
            <if test="params.isComment!=null and params.isComment==0">
                AND
                state=4
            </if>
            <if test="params.isComment!=null and params.isComment==1">
                AND
                state=3
            </if>
            <if test="params.reorder!=null and params.reorder.equals('startTime')">
                ORDER BY b.order_date
            </if>
            <if test="params.reorder!=null and params.reorder.equals('totalMoney')">
                ORDER BY od.total_amount
            </if>
            <if test="params.reorder!=null and params.reorder.equals('endTime')">
                ORDER BY od.over_date
            </if>
        </if>
    </select>

    <select id="selectOrderDetailById" resultType="spiritray.common.pojo.PO.OrderDetail">
        SELECT *
        FROM
            order_detail
        WHERE
            order_number = #{orderNumber}
            AND
            od_id = #{odId}
            AND
            is_delete = 0
    </select>

    <select id="selectOrderDetailInfo" resultType="spiritray.common.pojo.DTO.OrderDetailInfo">
        SELECT *
        FROM `order`
            JOIN order_detail
                ON
                    `order`.order_number = order_detail.order_number
        WHERE
            order_detail.order_number = #{orderNumber}
            AND
            order_detail.od_id = #{odId}
    </select>

</mapper>
