<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.order.mapper.PbiMapper">

    <insert id="insertPbi">
        INSERT INTO
            pbi
            (
                pbi.acca_id,
                pbi.back_date,
                pbi.back_money,
                pbi.back_status,
                pbi.pay_no,
                pbi.pbi_id,
                pbi.plant_account,
                pbi.return_no,
                pbi.start_date
            )
        VALUES
            (
                #{pbi.accaId},
                #{pbi.backDate},
                #{pbi.backMoney},
                #{pbi.backStatus},
                #{pbi.payNo},
                #{pbi.pbiId},
                #{pbi.plantAccount},
                #{pbi.returnNo},
                #{pbi.startDate}
            )
    </insert>

    <select id="selectPbiPhone" resultType="java.lang.Long">
        SELECT `order`.consumer_phone
        FROM
            `order`
            JOIN order_detail
            JOIN pbi
                ON
                    `order`.order_number = order_detail.order_number
                    AND
                    CONCAT(order_detail.order_number, order_detail.od_id) = pbi.pbi_id
        WHERE
            pbi.pbi_id = #{pbiId}
    </select>
</mapper>
