<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.order.mapper.PbiMapper">

    <insert id="insertPbi">
        INSERT INTO pbi (
            pbi.pbi_id,
            pbi.yungou_no,
            pbi.pay_no,
            pbi.acca_id,
            pbi.plant_account,
            pbi.back_money,
            pbi.back_date
        )
        VALUES
            (
                #{pbi.pbiId},
                #{pbi.yungouNo},
                #{pbi.payNo},
                #{pbi.accaId},
                #{pbi.plantAccount},
                #{pbi.backMoney},
                NOW()
            )
    </insert>
</mapper>
