<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spiritray.consumer.mapper.CollectionMapper">

    <insert id="insertCollectionOne">
        INSERT INTO
            collection
            (collection.commodity_id, collection.consumer_phone, collection.start_date)
        VALUES (#{collection.commodityId}, #{collection.consumerPhone}, NOW())
    </insert>

    <delete id="deleteCollectionOne">
        DELETE
        FROM
            collection
        WHERE
            collection.commodity_id = #{collection.commodityId}
            AND
            collection.consumer_phone = #{collection.consumerPhone}
    </delete>

    <select id="selectCollectionCommodityIdByPhone" resultType="java.lang.String">
        SELECT commodity_id
        FROM
            collection
        WHERE
            consumer_phone = #{phone}
        ORDER BY collection.start_date DESC
        LIMIT 0, 10
    </select>

    <select id="selectIsCollectionByPhoneAndCommodityId" resultType="java.lang.String">
        SELECT commodity_id
        FROM
            collection
        WHERE
            consumer_phone = #{phone}
            AND
            commodity_id = #{commodityId}
    </select>
</mapper>
